#editor-container{
  width: 30%;
  margin:0 auto;
  margin-top: 2rem;
  background-color: #FFF3DA;
  padding-bottom: 1rem;
  border-radius: 0 0 .5rem .5rem;
}


#editor{
  margin:0 auto;
  display: block;
  background-color: #FFF3DA;
  width: 100%;
  padding: .5rem;
  resize: vertical;
  border: none;
  overflow-x: hidden;
  }


  @media (max-width:1200px) {
    #editor-container{
      width: 50%;
      margin-top: 1rem;
    }
  }
  
@media (max-width:800px) {
  #editor-container{
    width: 70%;
    margin-top: .8rem;
  }

}

@media (max-width:400px) {
  #editor-container{
    width: 90%;
    margin-top: .5rem;
  }

}